<div class="qr-scan">
  <h2 class="page-header">QR명함 스캔</h2>
  <p>QR명함을 생성하여 여기에 스캔해 주세요.</p>
  <canvas id="scan-canvas" hidden="false"></canvas>
  <div id="output">
    <p class="infolist">{{ qrcodeDetected }}</p>
    <p class="infolist">{{ this.name }}</p>
    <p class="infolist">{{ this.org }}</p>
    <p class="infolist">{{ this.title }}</p>
    <p class="infolist">{{ this.tel }}</p>
    <p class="infolist">{{ this.fax }}</p>
    <p class="infolist">{{ this.mobile }}</p>
    <p class="infolist">{{ this.email }}</p>
    <p class="infolist">{{ this.homepage }}</p>
    <p class="infolist">{{ this.address }} </p>
    <p class="infolist">{{ this.zip }}</p>
  </div> 
</div>