<div class="login-box">
  <h2 class="page-header">로그인</h2>
  <br>
  <form (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail3">아이디</label>
      <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" class="form-control" id="exampleInputEmail3"/>
    </div> 
    <br>
    <div class="form-group">
      <label for="exampleInputEmail4">패스워드</label>
      <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" class="form-control" id="exampleInputEmail4"/>
    </div> 
    <br>
    <input type="submit" class="btn btn-primary" value="로그인" />
  </form>
</div>
